.containerDiv {
  flex: 1;
  background-image: url(../../assets/images/login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.connectWithButton {
    color: rgba(114,132,154,.7);
    font-size: 14px;
    font-weight: 400px;
}

.connectButtonContainer {
  justify-content: space-between;
}

.headerContainer {
  margin-top: 25;
  margin-bottom: 25;
  justify-content: center;
}

.justifyCenter {
  justify-content: center;
}

.signupText {
  color: "#72849a"
}

.loginFormContainer {
  justify-content: center; 
  margin-bottom: 20px
}
